<div class="app-body-navigation">
    <nav class="navigation">
        <a href="/dashboard">
            <i class="ph-browsers"></i>
            <span>Dashboard</span>
        </a>
        <a href="/reservations-chart">
            <i class="ph-check-square"></i>
            <span>Reservations</span>
        </a>
        <a href="/logins-chart">
            <i class="ph-file-text"></i>
            <span>Logins</span>
        </a>
    </nav>
    <footer class="footer">
        <h1>Deluxe</h1>
        <div>
            Deluxe &copy;<br />
            All Rights Reserved 2023
        </div>
    </footer>
</div>