<!DOCTYPE html>
<html lang="en">

<head>
    {% include "hotel/includer.html" %}
    <title>Register | Deluxe</title>
</head>

<body class="sub_page">

    <div class="hero_area">
        {% include "hotel/header.html" %}
    </div>

    <div class="form">
        <form method="post">
            {% csrf_token %}
            <h1>Register</h1>
            <div class="content">
                <div class="input-field">
                    <input type="text" placeholder="First name" name="fname" required>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Last name" name="lname">
                </div>
                <div class="input-field">
                    <input type="email" placeholder="Email" name="email" required>
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Phone" name="phone">
                </div>
            </div>
            <div class="action">
                <button class="btn-active" type="submit">Register</button>
            </div>
        </form>
    </div>
</body>

{% include "hotel/footer.html" %}

</html>